@media (max-width: 1240px){
  .header-bottom{
    background-image: none;
  }
}

@media (max-width: 1120px){
  .header-bottom{
    margin-left: 100px;
  }
}

@media (max-width: 1240px){
  .header-top{
    &__nav-menu{
      width: 285px;
    }
  }
}

@media (max-width: 768px){
  .header-bottom{
    margin-left: 70px;
  }
  .header-top{
    &__nav-menu{
      width: 260px;
    }
  }
}

@media (max-width: 670px){
  .header-top{
    &__nav-menu,
    &__menu-icons{
      display: none;
    }
    &__menu-icon{
      padding: 15px 7px 9px 11px;
    }
    &__bag-icon {
      padding: 15px 13px 9px 13px;
    }
  }
  .header-bottom{
    margin-right: 70px;
  }
  .header-top__btn{
    display: flex;
  }
  .mobile{
    display: block;
    transform: translateY(-400%);
    &__icons{
      display: block;
    }
    &--active{
      transform: translateY(0);
    }
  }
}

@media (max-width: 550px){
  .header-bottom{
    margin-left: 30px;
    margin-right: 30px;
    &__title{
      font-size: 34px;
      line-height: 48px;
      margin-bottom: 30px;
    }
    &__descr{
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 400px){
  .header-bottom{
    margin-left: 20px;
    margin-right: 20px;
    &__title{
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 20px;
    }
    &__descr{
      margin-bottom: 30px;
    }
  }
}