@media (max-width: 1320px){
  .reviews{
    & ul.slick-dots,
    & .slick-prev, 
    & .slick-next{
      right: 0;
    }
  }
}
@media (max-width: 1240px){
  .header-bottom{
    background-image: none;
  }
  .header-top{
    &__nav-menu{
      width: 285px;
    }
  }
  .video{
    &__img{
      height: auto;
      width: 550px;
    }
    &__video-box{
      margin-right: 25px;
    }
  }
  .footer-top{
    &__item-input{
      width: 240px;
    }
  }
}

@media (max-width: 1160px){
  .products{
    &__items{
      max-width: 600px;
      margin: 0 auto;
    }
  }
  .slider-for__item-img{
    width: 335px;
    height: 300px;
    margin-bottom: 40px;
  }
  .slider-nav{
    grid-gap: 10px;
    &__item{
      width: 100px;
      height: 100px;
    }
  }
}

@media (max-width: 1120px){
  .header-bottom{
    margin-left: 100px;
  }
  .reviews{
    & ul.slick-dots,
    & .slick-prev, 
    & .slick-next{
      right: 80px;
    }
  }
  .reviews{
    &__items{
      padding-left: 50px;
      &::before{
        left: auto;
      }
    }
  }
  .footer-top{
    justify-content: space-between;
    &__item:last-child{
      display: none;
    }
    &__form{
      width: auto;
    }
  }
  .bag-modal--active{
    & .bag__title{
      margin-top: 50px;
    }
    & .bag__items{
      margin-top: 30px;
    }
    & .bag__item{
      padding-top: 25px;
      padding-bottom: 25px;
    }
    & .bag__bottom{
      margin-top: 30px;
    }
    & .bag__item-text{
      margin-right: 30px;
    }
    & .bag__top-name{
      width: 500px;
    }
    & .bag__item-price{
      margin-right: 35px;
    }
    & .bag__item-quantity{
      margin-right: 50px;
    }
    & .bag__item-total{
      margin-right: 50px;
    }
    & .bag__top-total{
      margin-right: 70px;
      margin-left: 30px;
    }
    & .bag__top-quantity{
      margin-left: 20px;
    }
  }
  .form__inner{
    padding-right: 20px;
    margin: 0 20px;
  }
  .form__right-form .form__input, 
  .form__right-form .form__textarea{
    width: 350px;
  }
}

@media (max-width: 1040px){
  .video{
    &__inner{
      padding: 0 15px;
    }
    &__img{
      height: auto;
      width: 500px;
    }
    &__video-box{
      margin-right: 25px;
    }
    &__descr{
      margin-top: 60px;
      margin-right: 15px;
    }
  }
  .reviews{
    & ul.slick-dots,
    & .slick-prev, 
    & .slick-next{
      right: 100px;
    }
  }
  .search-modal{
    width: 730px;
    height: 123px;
    padding: 35px 138px 35px 71px;
    &__cross{
      top: 50px;
    }
  }
}

@media (max-width: 968px){
  .video{
    &__descr{
      margin-top: 20px;
    }
    &__link{
      width: 75px;
      height: 75px;
    }
    &__img{
      width: 400px;
      min-height: 240px;
    }
    &__descr-title{
      margin-bottom: 5px;
    }
  }
  .products{
    &__filter-number{
      display: none;
    }
    &__filter-form{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__filter{
      padding: 15px 35px 13px;
    }
  }
  .products__filter-form .jq-selectbox__select-text{
    margin-right: 0;
    transform: unset;
  }
}

@media (max-width: 840px){
  .bag-modal--active .bag__top{
    display: none;
  }
  .bag-modal--active .bag__item{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .bag-modal--active .bag__item-img,
  .bag-modal--active .bag__item-text,
  .bag-modal--active .bag__item-price,
  .bag-modal--active .bag__item-quantity,
  .bag-modal--active .bag__item-total{
    margin-right: 0;
    margin-bottom: 10px;
  }
  .bag-modal--active  .mobile{
    display: block;
    z-index: 999;
  }
  .search-modal{
    width: 550px;
    height: 110px;
    padding: 29px 138px 29px 29px;
    &__cross{
      top: 47px;
    }
  }
  .form__img{
    width: 450px;
    height: 450px;
  }
  .product-descr{
    margin-right: 20px;
    &__title{
      font-size: 30px;
      line-height: 42px;
    }
    &__price{
      line-height: 42px;
    }
    &__btn{
      margin-top: 10px;
      margin-bottom: 50px;
    }
    &__variant-title{
      font-size: 30px;
      line-height: 42px;
    }
    &__variant{
      line-height: 30px;
      margin-bottom: 50px;
    }
    &__details-title{
      font-size: 30px;
    }
    &__details{
      line-height: 30px;
    }
  }
}

@media (max-width: 768px){
  .header-bottom{
    margin-left: 70px;
  }
  .header-top{
    &__nav-menu{
      width: 260px;
    }
  }
  .reviews{
    & ul.slick-dots,
    & .slick-prev, 
    & .slick-next{
      right: 20px;
    }
  }
  .video{
    &__descr-title{
      font-size: 34px;
    }
    &__descr{
      max-width: 300px;
    }
  }
  .footer-top{
    &__item + .footer-top__item {
      margin-left: 35px;
    }
  }
  .form__right-form .form__input, 
  .form__right-form .form__textarea{
    width: 300px;
  }
  .form__img{
    width: 400px;
    height: 400px;
  }
  .form__right{
    margin-left: 10px;
  }
}

@media (max-width: 670px){
  .header-top{
    &__nav-menu,
    &__menu-icons{
      display: none;
    }
    &__menu-icon{
      padding: 15px 7px 9px 11px;
    }
    &__bag-icon {
      padding: 15px 13px 9px 13px;
    }
  }
  .header-bottom{
    margin-right: 70px;
  }
  .header-top__btn{
    display: flex;
  }
  .mobile{
    display: block;
    transform: translateY(-400%);
    &__icons{
      display: block;
    }
    &--active{
      transform: translateY(0);
    }
  }
  .reviews{
    & ul.slick-dots,
    & .slick-prev, 
    & .slick-next{
      display: none !important;
    }
  }
  .featured{
    &__title{
      font-size: 32px;
      line-height: 40px;
    }
    &__slider-item{
      margin-bottom: 70px;
    }
  }
  .video{
    &__inner{
      flex-direction: column-reverse;
      align-items: center;
    }
    &__video-box{
      margin-bottom: 30px;
      margin-right: 0;
    }
    &__descr{
      margin-right: 0;
    }
  }
  .footer-mobile{
    display: block;
    padding-top: 50px;
  }
  .footer-top,
  .footer-bottom{
    display: none;
  }
  .search-modal{
    width: 400px;
    height: 54px;
    padding: 0px 43px 0px 0px;
    background-color: transparent;
    &__input{
      border: 2px solid #fff;
    }
    &__cross{
      top: 19px;
      right: 0;
    }
    &--active{
      transform: translateY(60%);
    }
  }
  .bag-modal--active .bag__close{
    display: block;
  }
  .form__inner{
    flex-direction: column;
  }
  .form__left{
    margin: 0 auto;
  }
  .form__right{
    margin: 0 auto;
  }
  .form__img{
    display: none;
    &--mobile{
      display: block;
      width: 500px;
      height: 500px;
      margin: 0 auto;
      margin-bottom: -280px;
    }
  }
  .form__title{
    margin: 20px 0;
    font-size: 34px;
    line-height: 40px;
  }
  .form__right-form{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .form__btn{
    width: 100%;
  }
  .products{
    &__items{
      max-width: 300px;
    }
    &__filter-form{
      flex-direction: column;
      text-align: center;
      justify-content: space-around;
      & span{
        margin-bottom: 5px;
      }
      & .select-style{
        margin-bottom: 10px;
      }
    }
  }
  .products-background{
    & .search-modal__cross{
      &::before{
        position: absolute;
        content: "";
        width: 40px;
        height: 40px;
        background-color: rgba(0,0,0,.5);
        top: -10px;
        right: -10px;
        border-radius: 50%;
        z-index: -1;
      }
    }
  }
}

@media(max-width: 630px){
  .header-modal {
    height: 380px;
    width: 400px;
    padding: 25px 15px;
    &__title{
      font-size: 32px;
      line-height: 44px;
    }
    &__signin-btn{
      margin-top: 5px;
    }
  }
  .product__inner{
    display: block;
  }
  .product-descr{
    margin: 0 auto;
  }
  .product-slider--mobile{
    display: block;
  }
  .product-slider{
    display: none;
  }
  .product__more-title{
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 550px){
  .header-bottom{
    margin-left: 30px;
    margin-right: 30px;
    &__title{
      font-size: 34px;
      line-height: 48px;
      margin-bottom: 30px;
    }
    &__descr{
      margin-bottom: 50px;
    }
  }
  .featured{
    &__slider-title,
    &__slider-price{
      font-size: 24px;
      line-height: 38px;
    }
    &__slider-item .featured__slider-img{
      height: auto;
      width: 300px;
      margin: 0 auto;
    }
    &__slider-item1,
    &__slider-item2, 
    &__slider-item3{
      width: unset !important;
    }
  }
  .reviews__items{
    padding-left: 25px;
  }
  .search-modal{
    width: 300px;
  }
  .form__inner{
    padding: 0 5px;
  }
  .form__title{
    text-align: center;
  }
  .form__img--mobile{
    width: 350px;
    height: 350px;
    margin-bottom: -195px;
    object-fit: contain;
  }
}

@media (max-width: 440px){
  .header-modal {
    height: 350px;
    width: 330px;
    padding: 10px 10px;
    &__link{
      font-size: 16px;
      line-height: 40px;
    }
    &__title{
      font-size: 28px;
      line-height: 40px;
    }
    &__signin-btn{
      width: 100%;
    }
  }
}

@media (max-width: 400px){
  .header-bottom{
    margin-left: 20px;
    margin-right: 20px;
    &__title{
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 20px;
    }
    &__descr{
      margin-bottom: 30px;
    }
  }
  .featured{
    &__slider-title,
    &__slider-price{
      font-size: 21px;
      line-height: 32px;
    }
    &__slider-item .featured__slider-img{
      width: 200px;
    }
  }
  .footer-mobile{
    &__item-input{
      width: 100%;
    }
    &__item-btn{
      width: 100%;
    }
  }
  .bag-modal--active .bag__bottom{
    flex-direction: column;
  }
  .bag-modal--active .bag__total{
    margin-bottom: 30px;
  }
  .form__right-form .form__input, 
  .form__right-form .form__textarea{
    width: 250px;
  }
  .slider-for__item-img{
    width: 270px;
    height: 270px;
    margin-bottom: 20px;
  }
  .slider-nav__item{
    width: 80px;
    height: 80px;
  }
}