$accent-color: #FD383E;
$title-color:  #333333;




%roboto-400{
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-700{
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 700;
}

%arial-400{
  font-family: 'Arial', sans-serif;
  font-weight: 400;
}

%arial-700{
  font-family: 'Arial', sans-serif;
  font-weight: 700;
}



@function max($numbers...){
  @return m#{a}x(#{$numbers...});
}
@function min($numbers...){
  @return m#{i}n(#{$numbers...});
}