@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  background-image: url('../images/main/header/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 817px;
  color: #fff;
  font-size: 16px;
}

.about-header{
  background-image: url('../images/about/header/bg.png');
}

.header-top{
  padding: 40px 0;
  &__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    width: 125px;
    height: 17px;
    object-fit: contain;
  }
  &__nav-menu{
    width: 345px;
    text-transform: uppercase;
  }
  &__nav-items{
    display: flex;
    justify-content: space-between;
  }
  &__nav-link{
    color: inherit;
  }
  &__menu-icons{
    width: 187px;
    display: flex;
    justify-content: space-between;
  }
  &__menu-icon{
    padding: 15px 17px 9px 18px;
    &:hover{
      background-color: #fff;
      border-radius: 50%;
      path{
        fill: $accent-color;
      }
    }
  }
  &__bag-icon{
    &:hover{
      path{
        fill: none;
        stroke: $accent-color;
      }
    }
  }
}

.about-header .header-top__menu-icon:hover{
    background-color: $accent-color;
    border-radius: 50%;
    path{
      fill: #fff;
    }
  }
.about-header .header-top__bag-icon:hover{
  path{
    fill: none;
    stroke: #fff;
  }
}



.header-bottom{
  background-image: url('../images/main/header/header-bottom__bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  height: 509px;
  &__title{
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    max-width: 488px;
    margin-bottom: 61px;
    margin-top: 60px;
  }
  &__descr-title{
    font-size: 21px;
    line-height: 35px;
    max-width: 488px;
  }
  &__descr{
    line-height: 26px;
    max-width: 488px;
    margin-bottom: 86px;
  }
  &__btn{
    line-height: 38px;
    padding: 16px 30px;
    background-color: #fff;
    border-radius: 60px;
    color: $accent-color;
  }
}

#hidden-content{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  transition: all .5s;
  margin: 0 !important;
}

.header-modal{
  height: 500px;
  width: 575px;
  padding: 54px 75px;
  background-color: #FFC475;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  &__form{
    width: 100%;
  }
  &__title{
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    color: $title-color;
    margin-bottom: 38px;
  }
  &__email{
    display: block;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
  }
  &__password{
    display: block;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 9px;
    border: none;
    border-radius: 5px;
  }
  &__link-wrapper{
    text-align: right;
  }
  &__link{
    font-size: 18px;
    line-height: 60px;
    text-decoration-line: underline;
    color: #666666;
    margin-right: 0;
    margin-left: auto;
  }
  &__signin-wrapper{
    text-align: center;
    margin-bottom: 0;
  }
  &__signin-btn{
    padding: 14px 30px;
    background: linear-gradient(255.87deg, #FC323C 24.88%, #9E1419 79.86%);
    border-radius: 60px;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    width: 155px;
    display: inline-block;
    margin-top: 55px;
    &:hover{
      background: #FD383E;
    }
  }
}

.fancybox-slide--html .fancybox-close-small{
  right: 50px;
  top: 100px;
  padding: 0;
}

.fancybox-close-small{
  position: absolute;
  right: 50px;
  top: 100px;
  border: none;
  height: 19px;
  width: 19px;
  background-color: transparent;
  background-image: url('../images/main/header/cross.svg');
  outline: none;
  cursor: pointer;
  svg{
    display: none;
  }
}
.fancybox-slide--html{
  padding: 0;
}
.fancybox-infobar,
.fancybox-toolbar,
.fancybox-navigation,
.fancybox-caption{
  display: none;
}

.search-modal{
  background-color: #585858;
  width: 920px;
  height: 165px;
  padding: 55px 138px 55px 71px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-200%);
  transition: all .5s;
  &--active{
    display: block;
    transform: translateX(0);
  }
  &__form{
    position: relative;
  }
  &__input{
    background-color: $accent-color;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 55px;
    padding: 5px 20px;
    color: #fff;
    &::placeholder{
      color: #fff;
    }
  }
  &__btn{
    position: absolute;
    background-image: url('../images/main/header/search.svg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    width: 19px;
    height: 19px;
    right: 20px;
    top: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }
  &__cross{
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url("../images/main/header/cross.svg");
    right: 55px;
    top: 73px;
    cursor: pointer;
  }
}


.featured{
  padding-top: 85px;
  padding-bottom: 50px;
  &__title{
    font-size: 48px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 80px;
    color: $title-color;
  }
  &__slider-item{
    display: block !important;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    text-align: center;
  }
  &__slider-item1{
    width: 390px !important;
  }
  &__slider-item2{
    width: 460px !important;
    & .featured__slider-img{
      width: 450px;
    }
  }
  &__slider-item3{
    width: 470px !important;
    & .featured__slider-img{
      width: 465px;
    }
  }
  &__slider-img{
    object-fit: contain;
    width: 400px;
    height: 510px;
    margin-left: 0;
    margin-right: 0;
  }
  &__slider-title{
    font-size: 30px;
    line-height: 48px;
  }
  &__slider-price{
    font-size: 30px;
    line-height: 48px;
    color: $accent-color;
  }
}
.slick-slide{
  width: 600px;
}

.slick-prev{
  position: absolute;
  top: 35px;
  right: 180px;
  border: none;
  border-radius: 50%;
  font-size: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(176, 176, 176, 0.25);
  background-color: #fff;
  background-image: url('../images/main/featured/arrow-prev.svg');
  background-repeat: no-repeat;
  background-size: 13px 7px;
  background-position: center center;
  cursor: pointer;
  z-index: 999;
}

.slick-next{
  position: absolute;
  top: 340px;
  right: 180px;
  border: none;
  border-radius: 50%;
  font-size: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(176, 176, 176, 0.25);
  background-color: #fff;
  background-image: url('../images/main/featured/arrow-next.svg');
  background-repeat: no-repeat;
  background-size: 13px 7px;
  background-position: center center;
  cursor: pointer;
  
}

ul.slick-dots{
  position: absolute;
  top: 110px;
  right: 180px;
  border: none;
  box-shadow: -5px 10px 12px rgba(188, 188, 188, 0.25);
  border-radius: 60px;
  background-color: #fff;
  padding: 22px 15px;
  & li button{
    font-size: 0;
    border: none;
    border-radius: 50%;
    padding: 0;
    width: 11px;
    height: 11px;
    margin-top: 27px;
    background-color: #EAEAEA;
  }
  & li.slick-active button{
    background-color: $accent-color;
  }
}

.video{
  background-image: url("../images/main/video/bg.png");
  padding: 250px 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__descr{
    max-width: 385px;
    text-align: left;
    margin-top: 100px;
  }
  &__descr-title{
    text-align: left;
    margin-bottom: 30px;
    font-size: 45px;
  }
  &__video-box{
    margin-right: -100px;
    position: relative;
    
  }
  &__img{
    width: 670px;
    height: 415px;
    object-fit: cover;
    border-radius: 10px;
  }
  &__link{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    background-color: #fff;
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__btn-img{
    margin-left: 5px;
  }
  
}

.reviews{
  padding-top: 100px;
  padding-bottom: 70px;
  &__title{
    margin-bottom: 80px;
  }
  &__wrapper{
    background-image: url("../images/main/reviews/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    margin-right: 10px;
    border-radius: 20px;
    padding-top: 105px;
    padding-bottom: 105px;
    
  }
  &__items{
    position: relative;
    &::before{
      position: absolute;
      content: "";
      top: -155px;
      left: 0;
      background-image: url("../images/main/reviews/reviews-img.svg");
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
    }
  }
  &__item{
    max-width: 410px;
    
  }
  &__text{
    font-size: 18px;
    margin-bottom: 90px;
  }
  &__author{
    font-size: 24px;
  }
  ul.slick-dots,
  .slick-prev,
  .slick-next{
    right: -130px;
  }
}

.footer-top{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 50px;
  &__item + .footer-top__item{
    margin-left: 75px;
  }
  &__item-title{
    @extend %arial-700;
    font-size: 18px;
    line-height: 21px;
    color: $title-color;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  &__list-link{
    display: block;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: $grey;
  }
  &__form{
    width: 850px;
    .footer-top__item-title{
      margin-bottom: 0;
    }
    .footer-top__item-subtitle{
      margin-bottom: 27px;
    }
  }
  &__item-input{
    width: 322px;
    height: 55px;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 5px;
    border: 1px solid #CACACA;
    &::placeholder{
      font-size: 18px;
      line-height: 27px;
    }
  }
  &__item:last-child{
    margin-left: 0;
  }
  &__item-btn{
    padding: 8px 30px;
    border: none;
    background: linear-gradient(222.92deg, #FB313B 19.46%, #9D1319 89.2%), #C4C4C4;
    border-radius: 60px;
    font-size: 16px;
    line-height: 38px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
    margin-left: 24px;
    cursor: pointer;
  }
  &__email{
    @extend %arial-700;
    font-size: 24px;
    line-height: 22px;
    color: $title-color;
    text-align: right;
    display: block;
  }
  &__phone{
    font-size: 24px;
    line-height: 38px;
    color: $title-color;
    text-align: right;
    display: block;
  }
  &__span{
    display: block;
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    margin-top: 60px;
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  &__text{
    a{
      margin-left: 65px;
      color: $grey;
      text-decoration: underline;
    }
  }
}

.about-header{
  &__title{
    margin-bottom: 30px;
    margin-top: 0;
  }
  &__text-box{
    background-color: rgba(51, 51, 51, 0.7);
    max-width: 530px;
    padding: 20px;
    margin-top: 90px;
  }
  &__descr{
    margin-bottom: 0;
  }
}

.form{
  padding-top: 150px;
  padding-bottom: 220px;
  &__inner{
    display: flex;
    justify-content: space-between;
    border: 10px solid #FFE8CB;
    border-radius: 30px;
    padding-right: 70px;
  }
  &__left{
    max-width: 406px;
  }
  &__title{
    text-align: left;
    margin-top: 115px;
    margin-left: 10px;
  }
  &__img{
    margin-bottom: -63px;
    margin-left: -112px;
    margin-top: -70px;
    width: 508px;
    height: 508px;
    object-fit: contain;
    max-width: unset;
  }
  &__right-form .form__input,
  &__right-form .form__textarea{
    display: block;
    width: 407px;
    margin-bottom: 20px;
    background-color: #F5F5F5;
    border: none;
    padding: 10px 30px;
  }
  &__right-form{
    margin-top: 55px;
    margin-bottom: 55px;
  }
  &__input{
    height: 60px;
  }
  &__textarea{
    height: 240px;
    resize: none;
  }
  &__btn{
    padding: 8px 30px;
    border: none;
    background: linear-gradient(222.92deg, #FB313B 19.46%, #9D1319 89.2%), #C4C4C4;
    border-radius: 60px;
    font-size: 16px;
    line-height: 38px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
    width: unset;
  }
}

.products-background{
  background: linear-gradient(239.61deg, #FFFB9B 0%, #DCDE70 92.2%);
  padding-bottom: 150px;
  & .header{
    height: unset;
    background-image: unset;
    color: $title-color;
  }
  & + .footer{
    padding-top: 50px;
  }
  .header-top__menu-icon{
    path{
      fill: $title-color;
    }
    &:hover{
      background: linear-gradient(210.82deg, #FC323C 3.85%, #9F1419 104.91%), #C4C4C4;;
      path{
        fill: #fff;
      }
    }
  }
  .header-top__bag-icon{
    path{
      fill: none;
      stroke: $title-color;
    }
    &:hover{
      path{
        fill: none;
        stroke: #fff;
      }
    }
  }
}

.products{
  &__title{
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: left;
  }
  &__filter{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(183, 183, 183, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 35px 13px;
    margin-bottom: 70px;
  }
  &__filter-form{
    span{
      font-size: 18px;
      line-height: 30px;
    }
    .jq-selectbox__select-text{
      transform: translateY(9px);
      font-size: 18px;
      line-height: 30px;
      width: 150px;
      margin-right: 105px;
      padding-right: 30px;
      position: relative;
      cursor: pointer;
      &::after{
        position: absolute;
        content: "";
        background-image: url("../images/products/arrow.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 13px;
        height: 7px;
        right: 5px;
        top: 11px;
      }
    }
    .jq-selectbox__dropdown{
      background-color: #fff;
      top: 40px;
      border: 1px solid $grey;
      border-top: none;
      & ul{
        padding-left: 10px;
        padding-right: 10px;
        & li{
          cursor: pointer;
          &:hover{
            border-bottom: 1px solid $grey;
          }
        }
      }
    }
  }
  &__filter-number{
    font-style: italic;
    transform: translateY(5px);
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 285px;
    padding: 18px 24px 34px 24px;
    background-color: #fff;
    box-shadow: 0px 8px 15px rgba(183, 183, 183, 0.25);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 21px;
    line-height: 30px;
  }
  &__item-img{
    height: 180px;
    object-fit: contain;
    margin-bottom: 22px;
  }
  &__item-title{
    margin-bottom: 35px;
    color: $title-color;
  }
  &__item-price{
    color: $accent-color;
  }
}

// .slider-nav .slick-track{
 
// }

// .slider-nav .slick-slide{
//   // width: 100% !important;
// }

.slider-nav__item{
  width: 160px;
  height: 160px;
}

.slider-nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.slider-for__item-img{
  width: 485px;
  margin: 0 auto;
  height: 370px;
  object-fit: contain;
  margin-bottom: 65px;
}

// .slick-list.draggable{
//   padding: 0 !important;
// }

// .product-slider{
//   position: absolute;
//   right: 0;
//   top: 0;
//   left: auto;
//   z-index: 10;
// }

.product__inner{
  display: flex;
  justify-content: space-between;
}

.product-descr{
  margin-right: 122px;
  max-width: 490px;
  &__inner{
    display: flex;
    justify-content: start;
  }
  &__title {
    text-align: left;
    margin-bottom: 25px;
  }
  &__price {
    font-size: 30px;
    line-height: 60px;
    color: $accent-color;
  }
  &__form {
    & span{
      display: block;
      font-size: 21px;
      line-height: 30px;
      color: $title-color;
    }
  }
  &__select {
  }
  &__btn {
    display: block;
    padding: 8px 30px;
    border: none;
    background: linear-gradient(222.92deg, #FC323C 19.46%, #9F141A 89.2%), #C4C4C4;
    border-radius: 60px;
    font-size: 16px;
    line-height: 38px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    width: unset;
    margin-bottom: 80px;
  }
  &__variant-title {
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: $title-color;
    margin-bottom: 35px;
  }
  &__variant-subtitle {
    font-size: 21px;
    line-height: 35px;
    color: $title-color;
    margin-bottom: 4px;
  }
  &__variant {
    line-height: 35px;
    margin-bottom: 95px;
  }
  &__details-title {
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: $title-color;
    margin-bottom: 15px;
  }
  &__details {
    line-height: 35px;
    margin-bottom: 120px;
  }
  // &__slider{
  //   width: 500px !important;
  // }
}









@import 'media';